.footer {
  background-color: #393939;
  padding: 60px 20px 42px;
  min-height: 382px;
  text-align: center;
  &-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1532px;
    margin: 0 auto 55px;
    text-align: left;
  }
  .logo {
    min-width: 150px;
    height: 128px;
  }
  &-item {
    margin: 0 20px;
    &:nth-of-type(2){
      max-width: 284px;
      width: 100%;
    }
    &:nth-of-type(3){
      max-width: 235px;
      width: 100%;
    }
    &:nth-of-type(4){
      max-width: 464px;
      width: 100%;
    }
    h6 {
      color: white;
      margin-bottom: 20px;
    }
    a {
      font-size: 24px;
      color: $color-green;
      display: block;
      margin-bottom: 20px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      img {
        width: 43px;
        height: 43px;
      }
    }
    p {
      line-height: 1.2;
      font-size: 24px;
      color: white;
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 30px;
    color: white;
  }
}

@media all and (max-width: 1200px){
  .footer-block {
    flex-wrap: wrap;
    margin-bottom: 35px;
    .logo {
      margin: 0 auto 20px;
    }
  }
  .footer-item {
    margin-bottom: 20px;
  }
  .footer-item:nth-of-type(3) {
    max-width: none;
    width: auto;
  }
  .footer-item:nth-of-type(4) {
    max-width: none;
    width: auto;
  }
}

@media all and (max-width: 600px){
  .footer__link{
    font-size: 24px;
  }
}

@media all and (max-width: 430px){
  .footer {
    padding: 40px 20px;
  }
  .footer-item a{
    font-size: 20px;
  }
  .footer-item h6{
    font-size: 26px;
  }
  .footer-item p{
    font-size: 20px;
  }
}