.catalog {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.catalog-block {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-slider__item {
  max-width: 353px;
  margin: 0 25px;
}

.catalog-item {
  transition: .5s;
  text-align: left;
  width: 100%;
  max-width: 353px;
  margin: 0 auto 20px;
  border-radius: 0 100px 0 0;
  cursor: pointer;
  &__pic {
    max-width: 353px;
    max-height: 355px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 100px 100px 100px;
    img {
      transition: .5s;
      max-width: 353px;
      max-height: 355px;
      width: 100%;
    }
  }
  &__desc {
    max-width: 353px;
    padding: 18px 27px 30px;
  }
  h6 {
    margin-bottom: 20px;
    min-height: 72px;
  }
  &>p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  span {
    display: block;
    margin-bottom: 20px;
  }
  &:hover {
    transition: .5s;
    background-color: $color-white;
    border-radius: 0 100px 100px 100px;
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.2);
    img {
      transition: .5s;
      transform: scale(1.1);
    }
  }
}

.catalog-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-item__price {
  font-size: 30px;
  margin-bottom: 0;
}

.arrow-next,
.arrow-prev{
  display: none;
  position: absolute;
  top: 47%;
  width: 60px;
  height: 60px;
}

.arrow-next {
  right: 20px;
}

.arrow-prev {
  transform: rotate(180deg);
  left: 20px;
}

#arrow-next,
#arrow-prev{
  width: 60px;
  height: 60px;
  cursor: pointer;
  path {
    transition: .5s;
    fill: $color-red;
  }
  &:hover {
    path {
      transition: .5s;
      fill: $color-green;
    }
  }
}

@media all and (max-width: 1615px){
  .product-slider__item {
    max-width: none;
  }
  .arrow-next,
  .arrow-prev{
    display: block;
  }
}

@media all and (max-width: 430px){
  .arrow-next,
  .arrow-prev{
    bottom: 170px;
    top: auto;
  }
  .catalog {
    .btn {
      margin-top: 60px;
    }
  }
}