.order {
  padding: 90px 20px 120px;
  h2 {
    text-align: center;
  }
  &-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1532px;
    margin: 0 auto;
  }
  &-list {
    display: flex;
    flex-direction: column;
    max-width: 645px;
    width: 100%;
    min-height: 670px;
    margin-right: 40px;
    p {
      font-size: 30px;
      margin-bottom: 0;
    }
  }
  &-item {
    margin-bottom: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__name {
    max-width: 290px;
    width: 100%;
    line-height: 1.2;
    margin-right: 90px;
  }
  &__price {
    max-width: 150px;
    width: 100%;
    margin-right: 40px;
  }
  &-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn {
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__count {
    margin: 0 10px;
  }
  &-total {
    max-width: 290px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
    flex-grow: 1;
    p {
      margin-bottom: 0;
    }
    span {
      color: $color-red;
      font-size: 30px;
    }
  }
  &-form {
    max-width: 654px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $color-gray;
    border-radius: 0 100px 100px 100px;
    padding: 27px 26px 20px;
    form {
      display: contents;
    }
    &__title {
      font-size: 30px;
      margin-bottom: 22px;
      margin-left: 52px;
    }
    .btn {
      margin: 45px auto 0;
    }
  }
}

@media all and (max-width: 1400px){
  .order-item {
    margin-bottom: 40px;
  }
  .order__name {
    margin-right: 40px;
  }
  .order__price {
    margin-right: 20px;
  }
}

@media all and (max-width: 1000px){
  .order-block {
    flex-wrap: wrap;
  }
  .order-list {
    max-width: none;
    margin-bottom: 40px;
    min-height: auto;
  }
  .order-item {
    justify-content: space-between;
  }
  .order-form {
    margin: 0 auto;
  }
}

@media all and (max-width: 600px){
  .order-list p{
    font-size: 24px;
  }
  .order-form__title {
    font-size: 24px;
  }
  .order-item {
    margin-bottom: 20px;
  }
  .order__name {
    margin-right: 20px;
  }
  .order__price {
    max-width: 100px;
    margin-right: 20px;
  }
  .order-form .btn {
    margin: 20px auto 0;
  }
  .order-total {
    max-width: none;
    flex-grow: 0;
    justify-content: flex-end;
    align-items: baseline;
    p {
      margin-right: 20px;
    }
  }
}

@media all and (max-width: 430px){
  .order-item {

  }
}