.promo {
  background: url("../images/promo.jpg") top left no-repeat;
  min-height: 937px;
  padding: 308px 20px 20px 237px;
  margin-bottom: 50px;
  h1 {
    margin-bottom: 50px;
  }
  h5 {
    margin-bottom: 68px;
  }
}