// COLOR
$color-green: #37B143;
$color-white: #fff;
$color-red: #EF0031;
$color-black: #000;
$color-gray: #C4C4C4;
$color-bg: #FEF9F7;

//  Шрифты 

$font-balsamiq: 'Balsamiqsans', Arial, Helvetica, sans-serif;
$font-caveat: 'Caveat', Arial, Helvetica, sans-serif;

