* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: $color-bg;
}

.btn {
    width: 285px;
    height: 123px;
    position: relative;
    cursor: pointer;
    svg {
        path {
            transition: .5s;
            fill: $color-red;
        }
    }
    &__text {
        position: absolute;
        top: 40%;
        left: 15%;
        font-size: 24px;
        color: white;
    }
    &:hover {
        svg {
            path {
                transition: .5s;
                fill: $color-green;
            }
        }
    }
}

.cart {
    background: url("../images/svg/product-cart.svg") center no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
    .heart {
        display: none;
        position: absolute;
        top: 21px;
        left: 28px;
        background: url("../images/svg/heart.svg") center no-repeat;
        background-size: 18px;
        width: 18px;
        height: 18px;
        margin-bottom: 0;
    }
}

.catalog-item--add {
    .heart {
        display: block;
    }
}

input[type='text'] {
    border: none;
    outline: none;
    min-height: 65px;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 27px;
    padding: 0 50px;
    font-size: 24px;
    font-family: $font-balsamiq;
}
textarea {
    margin-bottom: 38px;
    border-radius: 50px;
    width: 100%;
    min-height: 144px;
    padding: 20px 50px;
    font-size: 24px;
    resize: none;
    border: none;
    font-family: $font-balsamiq;
}

label {
    font-size: 24px;
    margin-bottom: 17px;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 52px;
    line-height: 1;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 3px solid #494949;
    background-color: rgba(0,0,0,0);
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #494949;
}

input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}

.error {
    color: $color-red;
    font-size: 20px;
    margin-left: 52px;
}

.textarea-hidden {
    min-height: 0;
    margin: 0;
    padding: 0;
    height: 0;
}

.form {
    &--error_name {
        input[name='name'] {
            border: 1px solid $color-red;
        }
    }
    &--error_phone {
        input[name='phone'] {
            border: 1px solid $color-red;
        }
    }
    &--error_address {
        textarea[name='address'] {
            border: 1px solid $color-red;
        }
    }
}

@media all and (max-width: 600px){
    .btn {
        width: 230px;
        margin: 0 auto;
        svg {
            width: 230px;
        }
        &__text {
            font-size: 20px;
            left: 34px;
        }
    }
}

@media all and (max-width: 430px){
    input[type=text]{
        padding: 0 20px;
    }
    textarea {
        padding: 20px;
    }
}
