<section class="order">

    <h2>Оформление заказа</h2>

    <div class="order-block">

        <div v-cloak class="order-list">

            <div class="order-item" v-for="item in currentOrder" :key="item.id">
                <p class="order__name" v-cloak>{{item.title}}</p>
                <p class="order__price" v-cloak>{{item.price}} р.</p>
                <div v-cloak class="order-action">
                    <div class="order__btn" @click="reduceNumberProductInOrder(item.id)">-</div>
                    <p class="order__count" v-cloak>{{item.number}}</p>
                    <div class="order__btn" @click="increaseNumberProductInOrder(item.id)">+</div>
                </div>
            </div>

            <div class="order-total" v-if="currentOrder.length">
                <p>Итого:</p><span v-cloak>{{amountOrder}} р.</span>
            </div>

        </div>

        <div class="order-form">

            <form class="form" action="send.php" method="POST">
                <p v-cloak v-if="!errors" class="order-form__title">Ваши данные</p>
                <p v-cloak v-else class="order-form__title">
                    Пожалуйста исправьте указанные ошибки:
                </p>
                <p class="error" v-cloak v-if="orderError">В заказе отсутствует товар.</p>
                <p class="error" v-cloak v-if="nameError">Укажите Ваше имя.</p>
                <input v-model.trim="name" type="text" name="name" placeholder="Имя">
                <p class="error" v-cloak v-if="phoneError">Укажите Ваш телефон.</p>
                <input v-model.trim="phone" type="text" name="phone" placeholder="Телефон">
                <p class="error" v-cloak v-if="addressError">Укажите Ваш адрес.</p>
                <textarea v-model.trim="address" name="address" placeholder="Адрес"></textarea>
                <input @click="checkCheckbox" id="check1" type="checkbox" v-model="check1"><label for="check1">Наличными</label>
                <input @click="checkCheckbox" id="check2" type="checkbox" v-model="check2"><label for="check2">Переводом на банковскую карту</label>
                <div class="btn" @click="submitForm">
                    <svg width="285" height="123" viewBox="0 0 285 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.126778 28.2954C0.126783 -25.3394 60.7811 17.2861 145.092 17.2861C229.402 17.2861 284.122 -26.1863 284.122 27.4485C284.122 81.0834 228.91 122.756 144.6 122.756C60.2893 122.756 0.126774 81.9302 0.126778 28.2954Z" fill="#EF0031"/>
                    </svg>
                    <div class="btn__text">Оформить заказ</div>
                </div>
            </form>

        </div>

    </div>

</section>